/* Funcionalidades da página */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Cabeçalho da página */
header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #32CD32;
    text-decoration: underline;
}

nav a:active {
    color: #008080;
}

/* Desenvolvimento Da Página */
.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    lear: left;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 29px 30px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #2F4F4F;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.itens {
    line-height: 1.5;
    font-style: italic;
}

.itens:first-child {
    font-weight: bold;
}

.itens:before {
    content: "✷";
}

.beneficios {
    background: #888888;
    padding: 3em 0;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.imagem-beneficios {
    width: 60%;
    display: inline-block;
}

.video {
    width: 560px;
    margin: 1em auto;
}

/* Rodapé da Página */
footer {
    text-align: center;
    background: url("imgs/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0;
}